* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #d3d3d3 ;
 color: #111 ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1rem ;
 font-family: sans-serif;
}

button {
 cursor: pointer;
}